node_modules
test-results
playwright-report
.env
.DS_Store
dist
coverage
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
target
*.sqlite
*.db
.ollama
.claude/

